spring:
    datasource:
        driverClassName: org.postgresql.Driver
        password: 123
        url: jdbc:postgresql://localhost:5432/db_tl
        username: admin_tl
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                temp:
                    use_jdbc_metadata_defaults: false
        show-sql: true

keycloak:
    auth-server-url: http://localhost:8080/auth
    bearer-only: true
    cors: true
    public-client: true
    realm: TheLibrary
    resource: thelibrary-app
    security-constraints:
    -   authRoles:
        - user
        - admin
        securityCollections:
        -   methods:
            - GET
            patterns:
            - /api/books/*
            - /api/books
    -   authRoles:
        - admin
        securityCollections:
        -   patterns:
            - /api/*
        -   methods:
            - POST
            - PUT
            patterns:
            - /api/books/*

logging:
    level:
        org:
            hibernate:
                SQL: DEBUG
                type:
                    descriptor:
                        sql:
                            BasicBinder: TRACE

server:
    port: 8090
